@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");


body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #000000;

}


*{
  box-sizing: border-box;
}

canvas{
  position:absolute;
  z-index: -1;
  top: 0;
}

.menu-links li:hover{
  cursor: pointer;
}





